.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    .task-detail-card {
        width: 100vh;
        padding: 10px;

        .task-detail {

            .task-status {
                margin-bottom: 15px;
            }

            &:not(:nth-child(2)) {
                margin-bottom: 20px;
            }

            .mat-card-subtitle {
                margin-bottom: 20px;
            }

            h3 {
                margin-bottom: 15px;
            }
        }

        mat-chip-list {
            display: flex;
            flex-wrap: wrap;
        }

        mat-chip {
            margin: 5px;
        }

        mat-card-actions {
            display: flex;
            justify-content: center;
        }
    }

}
